h1= title
#upload-container.container
	h2.section-header Upload images
	.section
		form(action='/upload', method='post', enctype='multipart/form-data')
			input(type='file', name='img')
			input(type='text', name='tags', maxlength='100')
			br
			input(type='submit', value='upload')
#create-situation-container.container
	h2.section-header Create situation
	.section
		| Description:
		br
		textarea
		#situation-images
			.situation-image
			.situation-image
			.situation-image
			.situation-image
		button save
		br
		input(type='text', name='tag-search')
		#images
			each doc in imgs
				img(src='/thumb/#{doc._id}')