body {
	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.section-header {
	cursor : pointer;
}

div.section {
	display : none;
}

#situation-images {
	padding : 1px;
	width : 850px;
	height : 160px;
	border-style : solid;
	border-width : 1px;
}

div.situation-image-container {
	width : 202px;
	height : 150px;
	margin : 3px;
	border-style : inherit;
	border-width : inherit;
	display : inline-block;
}

div.situation-image {
	margin-right : 10px;
	width : 200px;
	height : 124px;
	border-style : inherit;
	border-width : inherit;
	background-repeat : no-repeat;
	background-position : center;
}

img.icon-remove {
	display : none;
	float : right;
	cursor : pointer;
}

#images {
	width : 600px;
	height : 300px;
	border-style : solid;
	border-width : 1px;
	overflow : scroll;
}

#images img {
	margin : 1px;
	cursor : pointer;
}